*{
	margin:0;
	padding: 0;
}
#conteneur
{
	margin-top:50px;
	width:328px;
	background-color: $background_general;
	height:287px;
	position: relative;

	div
	{
		position: absolute;
	}
}

.seconde
{
	width:20px;
	height:15px;
}

.one_ligne,.last_ligne
{
	width: 94px;
	height:40px;
}
.one_ligne
{
	top:17px;
}
.last_ligne
{
	top:230px;
}


.left,.right
{
	width: 72px;
	height: 55px;
}
.left
{
	left:22px;
}
.right
{
	left:234px;
}


.center_top,.center_left,.center_bottom
{
	left:96px;
}
.center_top
{
	width: 67px;
	top:59px;
}


.center_left,.center_right
{
	width: 51px;
	top:91px;
	height:34px;
}
.center_right
{
	left:181px;
}


.center
{
	width: 30px;
	left: 149px;
	height: 25px;
}
.center_bottom
{
	width: 44px;
	top:198px;
}

.center_bottom,.center_top
{
	height: 30px;
}

#heure_6,#heure_12
{
	left: 118px;
	width: 92px;
}
#heure_5,#heure_1
{
	left: 212px;
}

#minute_1
{
	top:172px;
	height: 24px;
}
#minute_2
{
	top:145px;
}
#minute_3
{
	top:118px;
}
#minute_4
{
	top:91px;
}


#heure_2,#heure_10
{
	top:59px;
}
#heure_3,#heure_9
{
	top:116px;
}
#heure_4,#heure_8
{
	top:173px;
}
#minutes_3,#minutes_9
{
	top:127px;
	height: 33px;
}
#minutes_4,#minutes_8
{
	top:162px;
}

#minutes_1
{
	left:165px;
}
#minutes_6
{
	left:142px;
}
#minutes_5
{
	left:188px;
}

#heure_7,#heure_11
{
	left:22px;
}

@media (prefers-color-scheme: dark)
{
	body{
		background-color: #1c1c1e;
		color : #fefefe ;
	}
}
