/* line 1, ../sass/base.style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/base.style.scss */
html {
  background-color: #333;
  background-image: url("font-crepy.png");
}

/* line 10, ../sass/base.style.scss */
body {
  margin: auto;
  width: 1024px;
  background-color: white;
  box-shadow: 0px 0px 60px #111;
  padding-top: 50px;
  font-family: 'Mouse Memoirs', sans-serif;
}

/* line 19, ../sass/base.style.scss */
body > h1 {
  text-align: center;
  border-bottom: 3px solid #333;
}

/* line 24, ../sass/base.style.scss */
#heure {
  text-align: center;
}

/* line 28, ../sass/base.style.scss */
#legend {
  margin-left: 20%;
  margin-top: 25px;
}

/* line 33, ../sass/base.style.scss */
#legend > div {
  width: 150px;
  color: white;
  padding: 5px;
}

/* line 39, ../sass/base.style.scss */
#conteneur {
  margin-top: 100px;
  width: 330px;
  background-color: #333;
  height: 289px;
  position: relative;
  margin-left: 37%;
}

/* line 48, ../sass/base.style.scss */
#conteneur div {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  background-color: white;
  opacity: 0.4;
}

/* line 58, ../sass/base.style.scss */
.seconde {
  width: 20px;
  height: 15px;
}

/* line 64, ../sass/base.style.scss */
.one_ligne, .last_ligne {
  width: 94px;
  height: 40px;
}

/* line 69, ../sass/base.style.scss */
.one_ligne {
  top: 17px;
}

/* line 73, ../sass/base.style.scss */
.last_ligne {
  top: 230px;
}

/* line 79, ../sass/base.style.scss */
.left, .right {
  width: 72px;
  height: 55px;
}

/* line 84, ../sass/base.style.scss */
.left {
  left: 22px;
}

/* line 88, ../sass/base.style.scss */
.right {
  left: 234px;
}

/* line 94, ../sass/base.style.scss */
.center_top, .center_left, .center_bottom {
  left: 96px;
}

/* line 98, ../sass/base.style.scss */
.center_top {
  width: 67px;
  top: 59px;
}

/* line 105, ../sass/base.style.scss */
.center_left, .center_right {
  width: 51px;
  top: 91px;
  height: 34px;
}

/* line 111, ../sass/base.style.scss */
.center_right {
  left: 181px;
}

/* line 117, ../sass/base.style.scss */
.center {
  width: 30px;
  left: 149px;
  height: 25px;
}

/* line 123, ../sass/base.style.scss */
.center_bottom {
  width: 44px;
  top: 198px;
}

/* line 129, ../sass/base.style.scss */
.center_bottom, .center_top {
  height: 30px;
}

/* line 134, ../sass/base.style.scss */
#heure_6, #heure_12 {
  left: 118px;
  width: 92px;
}

/* line 139, ../sass/base.style.scss */
#heure_5, #heure_1 {
  left: 212px;
}

/* line 144, ../sass/base.style.scss */
#minute_1 {
  top: 172px;
  height: 24px;
}

/* line 149, ../sass/base.style.scss */
#minute_2 {
  top: 145px;
}

/* line 153, ../sass/base.style.scss */
#minute_3 {
  top: 118px;
}

/* line 157, ../sass/base.style.scss */
#minute_4 {
  top: 91px;
}

/* line 163, ../sass/base.style.scss */
#heure_2, #heure_10 {
  top: 59px;
}

/* line 167, ../sass/base.style.scss */
#heure_3, #heure_9 {
  top: 116px;
}

/* line 171, ../sass/base.style.scss */
#heure_4, #heure_8 {
  top: 173px;
}

/* line 175, ../sass/base.style.scss */
#minutes_3, #minutes_9 {
  top: 127px;
  height: 33px;
}

/* line 180, ../sass/base.style.scss */
#minutes_4, #minutes_8 {
  top: 162px;
}

/* line 185, ../sass/base.style.scss */
#minutes_1 {
  left: 165px;
}

/* line 189, ../sass/base.style.scss */
#minutes_6 {
  left: 142px;
}

/* line 193, ../sass/base.style.scss */
#minutes_5 {
  left: 188px;
}

/* line 198, ../sass/base.style.scss */
#heure_7, #heure_11 {
  left: 22px;
}
